@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    outline: none;
    scroll-behavior: smooth;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: orange;
    --text-colo : #fff;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

header {
  font-size: 62.5%;
}

                /* header design */
.head-1 {
    display: flex;
    position: fixed;
    font-size: 62.5%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    margin-left: 4rem;
    font-size: 1.7rem;
    /* font-size: 62.5%; */
    color: var(--text-color);
    transition: .3s;
}

.navbar a :hover {
    color: var(--main-color);
}

/* ============================= Burger-Menu Design ========================= */

.burger-menu {
  position: relative;
  display: none;
  margin-left: 450px;
  flex-direction: column;
  width: 40px;
  height: 20px;
  justify-content: space-between;
}

.burger-menu span {
  display: block;
  background-color: white;
  width: 22px;
  height: 4px;
  border-radius: 2px;
  transition: all .5s;
}

.burger-menu input {
  position: absolute;
  width: 42px;
  height: 22px;
  opacity: 0;
  z-index: 4;
}


/* ================================= Burger Menu Animation  =================== */

.burger-menu span:nth-child(2) {
  transform-origin: 0 0;
}

.burger-menu span:nth-child(4) {
  transform-origin: 0 100%;
}

.burger-menu input:checked~span:nth-child(2) {
  transform: rotate(45deg) translate(1px, 1px);
  background-color: white;

}

.burger-menu input:checked~span:nth-child(4) {
  transform: rotate(-45deg);
  background-color: white;

}

.burger-menu input:checked~span:nth-child(3) {
  transform: scale(0, 0);
  opacity: 0;
}

/* =============================  Hero_Section_Design  ========================= */



                /* ABOUTT NIHH */

.about {
    width: 100px;
    padding: 78px 0px;
}

.about img {
    margin-top: 20px;
    height: auto;
    width: 380px;
    border-radius: 25px;
}

.about-text {
    width: 550px;
    margin-left: 90px;
}

.fatih {
    width: 113px;
    max-width: 95%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text h1 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    text-transform: capitalize ;
    margin-bottom: 10px;
}

.about-text h5 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span {
    color: orange;
}

.about-text p {
    letter-spacing: 1px;
    font-family: 'poppins';
    font-size: 20px;
    width: 700px;

}

.about-text a {
    display: inline-block;
    padding: 10px;
    border-radius: 11px;
    background-color: orange;
    color: white;
    font-size: 15px;
    font-family: 'poppins';
    font-weight: bold;
    transition: 0.8s;
    margin-top: 30px;
    cursor: pointer;
}

.about-text a:hover {
    border: 2px solid orange;
    background: transparent;
    padding: 10px 30px;
    letter-spacing: 3px;
    color:white;
}



/* ==============section II================ */

/* svg {
  position: relative;
  top: 3px;
} */


.ombak {
  position: relative;
  top:10px;
}

/* =================TIMELINE================= */

.time-ttl {
  text-align: center;
}

.main-1 h1 {
  color: #323946;
  font-size: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 100px;
  position:absolute;

}

.timeline-sc {
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin-top: 50px;
  
}


.container-tm {
  width: 100%;
  display: flex;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  grid-column-gap:20px;
}

.container-tm {
  padding-right: calc(10% - 30px);
}

.main-1 {
  display: flex;
  grid-template-columns: 1fr 1fr;
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  grid-column-gap:20px;
}

.grup {
    display: flex;
    justify-content: space-between;
}

.grup header {
  color: orange;
  padding: 0px 0px 20px 30px;
}


.grup .content .box {
  position: relative;
  padding: 20px;
  border-left: 2px solid var(--second-bg-color);
  background-color: var(--second-bg-color);
  width: 500px;
  color: white ;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px ;
}

.content {
  border-left: 2px solid var(--second-bg-color);
  padding-left: 30px;
  margin-right: -20px;
}

.grup .content .box:hover {
  box-shadow:0px 3px 12px 0px black;
}

.judul, .judul-2 {
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h2 {
  color: var(--second-bg-color);
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px  1px 0 #000,
  1px  1px 0 #000,
  ;
}

.grup .content .box::before{
  content:"" ;
  position: absolute;
  margin-top: 35px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: 0;
  background-color: orange;
  box-shadow: 2px 2px 10px 2px orange;
  border: 2px solid var(--bg-color);
}

.box-rgt {
    margin-left: 80px;
    display: flex;
    align-content: flex-start;
}

.box h3 {
  font-size: 50px;
  padding: 0px 0px 6px;
  color: white;
  font-family: 'poppins';
  font-weight: bold;
  font-size: 17px;
}

.box p {
  font-size: 14px;
  font-family: 'poppins';
  font-weight: bold;
}

@media(max-width:768px) {
  main.main-1{
      grid-template-columns: 1fr;
  }
}

.main-1 .grup:nth-child(2) {
      margin-right: 30px;
} 

/* ===================project============= */

.project h1 {
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 50px;
}   

.grup-pj {
  display: flex;
  justify-content: space-between;
  transition: 0.4s ease;
  transform: scale(1.1);
}

.img {
  border: 1px solid white;
  padding: 10px;
}

.pj-1 img{
  width: auto;
  height: 230px;
  border-radius: 25px;
  background-color: transparent;
  transition: 0.4s;
  filter: grayscale(100%);
}

.img-2 {
  border: 1px solid white;
  padding: 10px;
}

.pj-2 img {
  width: 390px;
  height: 235px;
  border-radius: 25px;
  background-color: transparent;
  transition: 0.4s ease;
  object-fit: cover;
  filter: grayscale(100%);
}

.grup-pj h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
}

.grup-pj p{
  font-size: 14px;
  font-family: 'poppins';
  width: 400px;
  margin-bottom: 10px;
}

.grup-pj a {
  font-size: 18px;
  background-color: gray;
  color: white;
  padding: 5px 8px;
  border-radius: 0.375rem;
  margin: 4px;
  transition: 0.5s;
}

.grup-pj img:hover {
  box-shadow:0px 3px 12px 0px aliceblue;
  filter: grayscale(0%);
  transform: scale(1.1);
}

.grup-pj a:hover {
  background-color: transparent;
  border: 2px solid gray;
  padding: 5px 5px;
  transform: scale(1.1);
}
/* ========================contact================= */

.Contact {
  min-height: 100vh;
  /* width: 100px; */
  background: aliceblue;
  /* display: flex; */
  color: black;
  align-items: center;
  justify-content: center;
}

.p-ct{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}


.container-c {
  display: flex;
  margin-left: 120px;
  justify-content: center;
  width: 80%;
  background-color: #fff;
  border-radius: 6px;
  padding: 20px 60px 40px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.container-c .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-c .contact .left-side {
  width: 25%;
  height: 100%;
  position: relative;
}

.contact .left-side::before{
  content: '';
  position: absolute;
  height: 70px;
  width: 10px;
  background: #afafb6;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);

}

.text-one ,.text-two {
  font-size: 14px;
  color:  #afafb6;
}

.details {
  margin: 14px;
  text-align: center;
}

.details i {
  color: #3e2093;
  font-size: 30px;
  margin-bottom: 10px;
}

.topic {
  font-size: 18px;
  font-weight: 500;
  border-right: 2px ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container-c .contact .right-side {
  width:75% ;
  margin-left: 75px;
}

.contact .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #3e2093;
  

}

.right-side p{
  font-family: 'poppins';
  font-weight: bold;
  font-family: 18px;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input  {
  height: 100%;
  width: 100%;
  background: #f0f1f8;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  padding: 0 15px;
  resize: none;
}



.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  background: #f0f1f8;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .button input{
  font-size: 18px;
  color: #fff;
  background-color: #3e2093;
  border-radius: 6px;
  border: 2px solid#3e2093;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  transition: 0.4s;
}

.right-side .button input:hover {
  background-color: transparent;
  color: #3e2093;

}

footer {
  background-color: var(--second-bg-color);
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline;
  margin-right: 10px;
}

.footer-links li a {
  text-decoration: none;
  color: #c8e8e9;
}





